<!doctype html>
<html lang="en">
  <head>
    <%# https://realfavicongenerator.net/ %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#f5faf8">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= yield_content :head %>

    <%= auto_display_meta_tags separator: '·' %>


    <meta property="profile:first_name" content="<%= data.site.first_name %>">
    <meta property="profile:last_name" content="<%= data.site.last_name %>">
    <meta property="profile:username" content="<%= data.site.username %>">
    <meta property="profile:gender" content="<%= data.site.gender %>">

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <%= data.site.analytics_script_tag %>

    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
  </head>
  <body class="mb-5 <%= "hide_header" if current_page.data.hide_header %> <%= current_page.data.css_class || '' %>">
    <div class="container">
      <div class="row header">
        <div class="col">
          <h1>
            <%= current_page.url == '/' ? data.site.name : link_to(data.site.name, '/') %>
          </h1>
        </div>
        <div class="col">
          <nav class="nav">
            <div class="hamburger-menu">
              <%# Three lines %>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <ul>
              <% data.site.nav.each do |item| %>
                <li><%= link_to item.title, item.path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <%= yield %>

      <section class="footer text-center">
        <%= partial('partials/management') if !current_page.data.hide_contact_footer %>
        <div class="copyright mt-5">
          © <%= Time.new.year %> <%= data.site.name %><br>
        </div>
      </section>
    </div>

    <%= yield_content :body_end %>
  </body>
</html>
