<% if mgmt = tenant_data.site.management %>
  <div class="management">
    <p><%= tenant_data.site.management.name %> represents <%= tenant_data.site.name %> worldwide:</p>
    <%= image_tag mgmt.logo_path %>
    <ul class="list-unstyled">
      <li><%= mail_to(mgmt.email) %></li>
      <li>T: <%= mgmt.office %></li>
      <li>M: <%= mgmt.mobile %></li>
    </ul>
  </div>
<% end %>

<% if tenant_data.site.email %>
  <p>Get in touch with <%= tenant_data.site.first_name %> directly by emailing <%= mail_to(tenant_data.site.email) %>.</p>
<% end %>