<% if mgmt = data.site.management %>
  <div class="management">
    <p><%= data.site.management.name %> represents <%= data.site.name %> worldwide:</p>
    <img src="/.netlify/images?url=<%= mgmt.logo_path %>&w=550&h=550&fit=contain">
    <ul class="list-unstyled">
      <li><%= mail_to(mgmt.email) %></li>
      <li>T: <%= mgmt.office %></li>
      <li>M: <%= mgmt.mobile %></li>
    </ul>
  </div>
<% end %>