<li class="event">
  <% if data.site.show_event_images && sitemap.find_resource_by_path(event_image_path(event)) %>
    <img src="<%= event_image_path(event) %>">
  <% end %>

  <div class="date">
    <%= event.date.strftime('%-d %B %Y') %>
  </div>

  <%# Events from ics will have these props %>
  <% if event.title %>
    <div class="title">
      <%= event.title %>
    </div>
  <% else %>
    <% array_wrap(event.rep).each do |rep| %>
      <div class="rep">
        <%= parse_rep(rep) %>
      </div>
    <% end %>

    <% array_wrap(event.group).each do |group| %>
      <div class="group"><%= group %></div>
    <% end %>

    <% if event.leader %>
      <div class="leader">
        <%= parse_leader(event.leader) %>
      </div>
    <% end %>
  <% end %>

  <div class="venue"><%= event.venue %></div>

  <% if data.site.show_event_images && event.image_caption.present? %>
    <p class="caption mt-1">
      <%= event.image_caption %>
    </p>
  <% end %>
</li>