---
title: Home
css_class: home
---
<section class="bio">
  <div class="container">
    <div class="row">
      <div class="col mt-3 text-width">
        <%= markdown(File.read("data/bio-short.md")) %>
        <a href="/about" class="read-more">Read More</a> ›
      </div>
    </div>
  </div>
</section>

<section class="videos">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Videos</h2>
        <div class="scroll-row">
          <% data.media.first(3).each do |video| %>
		      <div class="video-card">
		        <lite-youtube
		          videoid="<%= video[:media] %>"
		          playlabel="<%= video[:title] %>"
		          posterquality="maxresdefault"
		          params="rel=0"></lite-youtube>
		        <div class="video-title"><%= markdown(video[:title], without_p: true) %></div>

		        <% if video[:credit].present? %>
		          <div class="credit"><%= markdown(video[:credit], without_p: true) %></div>
		        <% end %>
		      </div>
          <% end %>
        </div>
        <a href="/videos" class="read-more">More Videos</a> ›
      </div>
    </div>
  </div>
</section>

<section class="calendar">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Upcoming Highlights</h2>
        <ul class="list-unstyled events">
          <% future_events().first(3).each do |event| %>
          <li class="event">
            <div class="date"><%= event.date.strftime("%B %Y") %></div>
            <div class="title"><%= event.title %></div>
            <div class="venue"><%= event.venue %> / <%= event_credit(event) %></div>
          </li>
          <% end %>
        </ul>
        <a href="/calendar" class="read-more">More Events</a> ›
      </div>
    </div>
  </div>
</section>
